@font-face {
  font-family: "iconfont";
  /* Project id 4316946 */
  src: url('@/iconfont/iconfont.woff2?t=1699514179233') format('woff2'),
    url('@/iconfont/iconfont.woff?t=1699514179233') format('woff'),
    url('@/iconfont/iconfont.ttf?t=1699514179233') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-clock:before {
  content: "\e631";
}

.icon-close:before {
  content: "\e603";
}

.icon-a-pills-jar1:before {
  content: "\ea1f";
}

.icon-rili:before {
  content: "\e89e";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-suozhu:before {
  content: "\e60d";
}

.icon-browse:before {
  content: "\e6e0";
}

.icon-yanzhengma:before {
  content: "\e613";
}

.icon-yisheng:before {
  content: "\e6d5";
}

.icon-fuyaodan:before {
  content: "\e602";
}

.icon-hezi:before {
  content: "\e61f";
}

.icon-31shezhi:before {
  content: "\e601";
}

.icon-changjianwentixiangguanwenti:before {
  content: "\e689";
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-juecebaogao:before {
  content: "\e604";
}

.icon-wenzhen:before {
  content: "\e814";
}

.icon-yly_tianjia:before {
  content: "\e60c";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-xiaoxizhongxin:before {
  content: "\e8be";
}

.icon-time:before {
  content: "\e622";
}

.icon-baogaochaxun:before {
  content: "\e611";
}

.icon-daiyao:before {
  content: "\e755";
}

.icon-yuyueguahao:before {
  content: "\e612";
}

.icon-youjiantou:before {
  content: "\e630";
}